# Archivos de proyecto y carpetas temporales de Vivado
*.log
*.jou
*.str
*.str.gz
*.xml
*.wcfg
*.data
*.backup*
*.dcp
*.ppr
*.html
*.rpx
*.xise
*.tcl
*.lso
*.lck

# Directorios generados
.cache/
.hw/
.sim/
.xsim/
.xpr/
.xdb/
.ip_user_files/
.srcs/
runs/
scripts/
